<div class="top-navigation-row">

    <div class="top-navigation-container">

        <!-- Guild Logo -->
        <div class="guild-logo-container">
            <a href="{{ path('index') }}">
                <img class="guild-logo-image" src="{{ asset('/build/images/desktop/navigation/GuildLogo.png') }}" alt="Guild Logo"/>
            </a>
        </div>

        <!-- Guild Name -->
        <div class="guild-name-container">
            <a href="{{ path('index') }}" class="inherit-link">La Danse Macabre</a>
        </div>

        <!-- Horizontal Menu -->
        <div class="horizontal-menu-container flex-push-right">

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="menu-item">
                    Welcome {{ app.user.displayName }}
                </div>
                <div class="menu-item">
                    <a href="{{ path('app_logout') }}"
                       data-tippy-content="Settings"><i class="fas fa-cog"></i></a>
                </div>
                <div class="menu-item">
                    <a href="{{ path('app_logout') }}"
                       data-tippy-content="Logout"><i class="fas fa-sign-out-alt"></i></a>
                </div>
                <div class="menu-item">
                    <a href="{{ path('secured') }}"
                       data-tippy-content="Feedback"><i class="fas fa-envelope"></i></a>
                </div>
            {% else %}
                <div class="menu-item">
                    <i>If it's not fun then don't do it!</i>
                </div>
                <div class="menu-item">
                    <a href="{{ path('app_login') }}">Login</a>
                </div>
            {% endif %}

        </div>

    </div>

</div>


